{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo I</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/estilo.css' %}"        rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!--Instituto de Educación Superior N°7 Populorum Progressio - In. Te. La.-->
</head>
<body>
    <header class="container-fluid bg-primary d-flex justify-content-center">
      <p class="text-light mb-0 fs-6"> Contactenos +54 9 (3886) 63-5329</p>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="text-primary fs-5 fw-bold">Grupo I</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'propuesta' %}">Propuesta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ale' %}">TPS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'galeria' %}">Galeria de imagenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="email" placeholder="Correo Electrónico" aria-label="email">
            <button class="btn btn-primary btn-primary-outline-success" type="button">Subscribete</button>
          </form>
        </div>
      </div>
    </nav>   
        {% block body %}
        {% endblock %}
    </div>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container text-center text-ml.left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Grupo N°1</h5>
            <p>De los creadores de Lápiz Discromático<br> y Agua para Vaqueros.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Nuestros Servicios</h5>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Diseños de sitios web</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Programación</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Automatización de procesos</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Mantenimiento de Drones</a>
            </p>                                    
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Productos</h5>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Impresoras 3D</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Drones</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;">Control automatico lavarropas</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
            <p>
              <i class="fas fa-home mr-3"></i> 288, Maimará, Ldor.Gral.San Martín, 4512 , Argentina
            </p>
            <p>
              <i class="fas fa-envelope mr-3"></i> vordonez74@gamil.com
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> +54 9 3886 63-5329
            </p>                                  
          </div>                   
        </div>
        <hr class="mb-r">
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <p>Copyright © 2021 All rights reserved by:
              <a href="#" style="text-decoration: none;">
                <strong class="text-warning">Victor Alejandro Ordoñez</strong>
              </a>
            </p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/alejandro.ordonez.904/" class="btn-floating btn-sm text-while" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-while" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-while" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-while" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                </li>                                                
                <li class="list-inline-item">
                  <a href="https://www.youtube.com/watch?v=G9uNPjEOQfg" class="btn-floating btn-sm text-while" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                </li>                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>