{% extends 'layout.html' %}
{% block body %}
<div class="container">
<h1>Año: 3ro</h1>
<h2>Prof.:</h2>
<h2>Grupo: N°1</h2>
<h2>Alumnos:</h2>
<h2>Victor Alejandro Ordoñez</h2>
<h3>Proyecto: Barbijo Inteligente</h3>
<h3>Propuesta TP</h3>
<h3>Problemática:</h3>
<p>En esta época de pandemias, sabemos que tan importante es monitorear nuestra saturación de oxígeno en sangre y la temperatura corporal. Esto para saber si presentamos síntomas de COVID-19 provocada por el virus SRAS-CoV-2.</p>

La saturación de oxígeno en sangre se emplea para comprobar si alguien necesita asistencia respiratoria, medir cómo gestionamos el esfuerzo en actividad física de intensidad o si estamos experimentando problemas respiratorios mientras dormimos. Este parámetro también se emplea para detectar problemas respiratorios como la neumonía, asociada al COVID-19 en etapas tempranas. Se considera que un paciente no tiene problemas pulmonares cuando la saturación de oxígeno en sangre se encuentra en un rango de valores entre el 95% y el 99%.

<h3>Solución:</h3>
Decidimos crear un dispositivo inteligente que nos permita monitorear estos parámetros y otros para tener una alerta temprana de los síntomas del coronovirus.

<h3>Para Realizar El Trabajo Se Utilizaran Los Siguientes Materiales:</h3>
<ul>
    <li>Arduino Nano V3</li>
    <li>Sensor Digital Temperatura Ds18b20</li>
    <li>Módulo Láser Diodo Rojo Emisor De Punto Mini 650nm 5mw</li>
    <li>Led 5mm Ir 950nm Infrarrojo</li>
    <li>Foto transistor 750 - 1000 nm</li>
    <li>Foto transistor 450 - 1100 nm</li>
    <li>Capacitor Electrolitico</li>
    <li>Resistencias</li>
    <li>Amplificador Operacional LM358</li>
</ul>
</div>
{% endblock %}